/node_modules
/public/hot
/public/storage
/public/uploads/attachments
/public/thumb
/public/cp/plugins/t-editor/plugins/
/public/cp/plugins/t-editor/plugins/responsive_filemanager
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
