.pageWraper {
    max-width: 91%;
    margin: 0 auto;
}

.mainWhiteBox {
    background: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

.mainWhiteBox.breaking .lead24 a {
    color: #dd000e;
}

.mainWhiteBox .lead24 a {
    color: #001869;
}

.mainWhiteBox p {
    font-size: 1.1vw;
}

a {
    transition: none !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    display: none;
}

#mapSection {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 40px;
    background: #fff;
    padding: 10px;
}

.mapLoading {
    position: absolute;
    height: 100%;
    background: rgba(239, 239, 239, 0.7);
    padding-top: 30% !important;
}

#mapSection > div {
    display: inline-block;
    vertical-align: top;
}

#mapSection > div:nth-child(1) {
    width: 35%;
    margin-left: 1%;
}

#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.headersSection {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #dddddd;
    position: relative;
}

.headersSection h1, .headersSection > div, .headersSection select {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 15px;
}

.headersSection div {
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

#latestWeekBtn {
    position: relative;
    right: 4px;
}

.headersSection select {
    margin-left: 0;
    font-size: 15px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    height: 34px;
    padding-right: 12px;
    background: transparent;
    position: absolute;
    width: 155px;
    top: 0;
    right: 0;
    border: none;
    outline: unset;

}

.activeMapTab {
    border: solid 1px #ddd;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-bottom: -11px;
    color: #555;
    cursor: text !important;
    padding-left: 10px;
    padding-right: 10px;
    background: #eaeaea;
}

#chooseWeek, #latestWeek, #mostNew {
    border: solid 1px #dddddd;
    border-top: none;
}

#chooseWeek {
    display: none;
    padding: 20px;
    position: absolute;
    background: #fff;
    border-top: solid 1px #dddddd;
    left: 1px;
    top: 51px;
    width: 85.6%;
}

#chooseWeek div {
    text-align: right;
    float: right;
    width: 100%;
    margin-bottom: 10px;
}

#chooseWeekBtn {
    z-index: 0;
    position: relative;
}

#latestWeek {
    display: none;
}

.newsHolder {
    padding: 20px;
}

.newsHolder:nth-child(even) {
    background: #f6f6f6;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

.imageHolder, .linkTimeHolder {
    display: inline-block;
    vertical-align: top;
}

.imageHolder {
    width: 40.2%;
}

.imageHolder img {
    max-width: 100%;
}

.linkTimeHolder {
    padding-right: 15px;
    width: 55%;
}

.linkTimeHolder h1 {
    line-height: 14px;
    margin-bottom: 6px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

.linkTimeHolder h1 a {
    font-size: 12px;
    color: #000;
}

.mainWordsHolder {
    padding-top: 10px;
}

.mainWordsHolder h1 {
    font-size: 12px;
    float: right;
    margin-left: 5px;
}

.mainWordsHolder ul {
    line-height: 21px;
}

.mainWordsHolder ul li, .mapInfo ul li {
    display: inline-block;
    vertical-align: top;
}

.mainWordsHolder ul li a {
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    font-size: 11px;
}

.mainWordsHolder ul li:after {
    content: "";
    margin-right: 5px;
    margin-left: 5px;
}

.mapInfo ul li {
    margin-right: 10px;
}

.mainWordsHolder ul li:last-child:after {
    content: "";
    margin-right: 0;
    margin-left: 0;
}

#latestWeek, #mostNew {
    max-height: 530px;
    overflow-y: scroll;
}

#bigMapHolder {
    width: 63%;
    height: 532px;
    padding-top: 51px;
    position: relative;
    margin-right: -4px;
}

.mapInfo {
    position: absolute;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: -62px;
    padding-top: 17px;
    padding-right: 20px;
}

.circularDiv {
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 200px;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.grayInfo {
    background: url('../images/greyKey.png');
}

.greenInfo {
    background: url('../images/greenKey.png');
}

.yelowInfo {
    background: url('../images/yellowKey.png');
}

.redInfo {
    background: url('../images/redKey.png');
}

.blueInfo {
    background: url('../images/blueKey.png');
}

#chooseWeek input {
    width: 75%;
    float: left;
    margin-right: 2%;
    height: 26px;
    background: #f5f5f5;
    border: solid 1px #bfbebe;
    text-align: center;
    font-size: 1em;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

#chooseWeek button {
    width: 100%;
    font-size: 1em;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    margin-top: 3px;
    display: inline-block;
}

.clsBtn {
    position: absolute;
    width: 20px !important;
    height: 20px;
    border-radius: 100px;
    min-width: 0px;
    padding: 0px;
    font-family: serif !important;
    top: -1px;
    left: 1px;
    background: url('../images/membership-back.jpg') no-repeat 0px 0px;
    border: none;
}

.clsBtn:hover {
    background-position: 1px -22px;
}

#chooseWeek label {
    margin-right: 2%;
    float: right;
    font-size: 12px;
    line-height: 25px;
}

.noDataDiv {
    text-align: center;
    padding: 3%;
}


#chooseWeek div input::-webkit-input-placeholder {
    color: #f00;
}

#chooseWeek div input::-moz-placeholder {
    color: #f00;
}

/* firefox 19+ */
#chooseWeek div input:-ms-input-placeholder {
    color: #f00;
}

/* ie */
#chooseWeek div inputinput:-moz-placeholder {
    color: #f00;
}

.loadingHolder {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.loadingHolder img {
    width: 30px !important;
    height: 30px !important;
}

.topicMod .story-topics h1 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.topicMod .story-topics .list-mod {
    display: inline-block;
    list-style-type: none !important;
    width: 88px;
    vertical-align: top;
    padding: 0;
}

.topicMod .story-topics h1:after {
    content: ":";
    display: inline-block;
    vertical-align: top;
}

.topicMod .story-topics .list-mod li {
    display: inline-block;
    font-size: 12px;
}

.topicMod .story-topics .list-mod li a {
    display: inline-block;
    vertical-align: top;
}

.topicMod .story-topics .list-mod li:after {
    content: ",";
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    margin-left: 3px;
}

.topicMod .story-topics .list-mod li:last-child:after {
    content: "";
    margin-right: 0;
    margin-left: 0;
}

/*popUpMap*/
.gm-style-iw > div {
    /*overflow: visible !important;*/
}

.gm-style-iw > div > div {
    overflow: visible !important;
}

#orgWidth {
    width: 449px;
}

.popUpContainer {
    width: 105%;
    height: 304px;
    position: relative;
}

.popoUpTitle {
    color: #bbbbbb;
    text-align: center;
    background: #333333;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

#popUpNewsHolder {
    width: 100%;
    background: #fff;
    height: 221px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.popUpContainer > a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

.TimeAndTitle {
    border-bottom: solid 1px #dddddd;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
}

.TimeAndTitle time a, .noClink {
    position: absolute;
    left: 15px;
    top: 10px;
}

.TimeAndTitle > a {
    display: block;
    width: 100%;
    color: #333333;
    font-size: 15px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

.CloseMapPopUp {
    position: absolute;
    left: 4px;
    top: 4px;
    background: #ffffff;
    color: #c1c1c1;
    border-radius: 100%;
    border: solid 1px #c1c1c1;
    width: 5%;
    /*height: 20px;*/
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.cLinks {
    border-bottom: solid 1px #dddddd;
}

.cLinks > a {
    display: inline-block;
    vertical-align: top;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    font-size: 13px;
}

.cLinks > a:after {
    content: "-";
    margin-right: 5px;
    margin-left: 5px;
}

.cLinks > a:last-child:after {
    content: "" !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.CloseMapPopUp:hover {
    background: #333333;
}

.mapIconLabel {
    filter: none !important;
    width: 23px;
    height: 23px;
    text-align: center;
    position: relative;
    top: -23px;
    right: 12px;
    font-weight: bold;
    font-size: 10px;
    padding-top: 4px;
    background-repeat: no-repeat !important;
    pointer-events: none;
    color: #000 !important;
}

.gm-style-iw h3 {
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

.gm-style-iw img {
    vertical-align: middle
}

.gm-style-iw h3 small {
    font-weight: 300;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    color: #74788d;
}

.gm-style-iw button.gm-ui-hover-effect {
    top: 3px !important;
    left: 5px !important;
}

.wrapperSelect {
    margin-left: 0;
    font-size: 15px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    height: 34px;
    padding-right: 12px;
    background: #eaeaea;
    position: absolute;
    width: 124px;
    height: 42px;
    top: 0px;
    overflow: hidden;
    border: solid 1px rgb(169, 169, 169);
    background-image: url(../images/black-arrow.png);
    background-repeat: no-repeat;
    background-position: 8px;
}

.wrapperSelectCal {
    width: 70px;
    height: 22px;
    padding: 0px;
    float: right;
    position: relative;
    overflow: hidden;
    top: 5px;
    border: solid 1px rgb(169, 169, 169);
    background: #fff;
    background-image: url('../images/black-arrow.png');
    background-repeat: no-repeat;
    background-position: 6px;
}

.wrapperSelectCal select {
    position: absolute;
    right: 0px;
    width: 90px !important;
    background: transparent;
    border: none;
}

#tabtab-area-2 {
    display: none;
}

.ajaStyle {
    font-size: 14px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    padding: 6px;
}

.bigMapFilter {
    position: fixed;
    top: 40px;
    z-index: 2147483648;
    background: #fff;
    right: 0px;
}

.pullBigFil {
    position: absolute;
    top: 50px;
    left: -20px;
    background: url("../images/close.png");
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.rotatedArr {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.ipad768Width {
    width: 164px;
    height: 46px;
    border-top: solid 1px #dddddd;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.linkTimeHolder .topicMod {
    font-size: 12px;
    vertical-align: top;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    color: #888;
}

.linkTimeHolder .topicMod + a {
    font-size: 12px;
    vertical-align: top;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

.meta {
    display: inline-block;
    color: #888;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.4em;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
}

.meta a {
    font-weight: 600;
    color: #2575bc;
}

@media only screen and (max-width: 1024px) /**media for PopUp Map**/ {
    #orgWidth {
        width: 300px;
    }

    .mapInfo {
        padding-top: 10px;
        padding-bottom: 7px;
    }
}

#selectoption option {
    padding: 1px;
}

/**media section**/
@media only screen and (width: 1024px) {
    #bigMapHolder {
        width: 56%;
    }

    .mapInfo {
        width: 96%;
    }
}

@media only screen and (width: 768px) {
    #mapSection > div:nth-child(1) {
        max-width: 270px;
    }

    .headersSection h1, .headersSection > div, .headersSection select {
        font-size: 11px;
    }

    .headersSection select {
        margin-right: 0px;
        z-index: 99;
    }

    #bigMapHolder {
        width: 60%;
        padding-top: 44px;
    }

    .mapInfo {
        width: 95%;
    }

    .imageHolder {
        width: 40%;
    }

    #mapSection {
        position: relative;
    }

    #bigMapHolder {
        position: relative;
        top: 2px;
        left: 0px;
    }

    .wrapperSelect {
        left: -157px;
    }
}

@media only screen and (max-width: 767px) {
    #tabtab-area-2 {
        display: block;
    }

    /* #mapSection {
          display: none;
      }*/
    #FilterHolder,.mapStyle{display: none!important;}

    #mapSection > div:nth-child(1) {
        max-width: 100%;
    }

    .headersSection h1, .headersSection > div, .headersSection select {
        width: calc(95% / 4);
        font-size: 13px;
    }

    .headersSection select {
        font-size: 10px;
        padding-right: 7px;
    }

    .imageHolder {
        width: 100%;
    }

    .linkTimeHolder {
        padding-right: 0;
        width: 100%;
    }

    #latestWeek {
        max-height: 400px;
        overflow-y: scroll;
    }

    #bigMapHolder {
        width: 100%;
        height: 300px;
        padding-top: 20px;
    }

    .mapInfo {
        width: 75%;
        padding-top: 0;
        padding-right: 10px;
    }

    #chooseWeek {
        z-index: 999999;
    }
}

.ie9Error {
    color: Red !important;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    font-size: 1em !important;
    left: 0px !important;
    top: 3px !important;
    width: 75% !important;
    text-align: center !important;
    position: absolute !important;
    cursor: text !important;
    height: 20px;
}

.heightNoData {
    height: 120px;
}

#popUpNewsHolder1 {
    text-align: center;
    font-size: 14px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    padding-top: 6px;
}

.mapStyle {
    position: absolute;
    top: 25px;
    left: 10px;
    font-family: 'Droid Arabic Kufi', "Arial", sans-serif;
    line-height: 8px;
}

.mapStyle:selection {
    background: transparent;
}

.mapStyle > div {
    border: solid 1px #ddd;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    background: #ddd;
    cursor: pointer;
}

.activeMapDesign {
    background: #fff !important;
}

.fullMap {
    position: fixed !important;
    top: -51px !important;
    z-index: 999999999999999 !important;
    width: 100% !important;
    height: 100% !important;
    right: 0px !important;
}


/*datepicer*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}

.ui-widget-content a {
    color: #333;
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold;
}

.ui-widget-header a {
    color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #454545;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #ccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff;
}

.ui-icon-background, .ui-state-active .ui-icon-background {
    border: #003eff;
    background-color: #fff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #fff;
    text-decoration: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}

.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #777620;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #5f3f3f;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #5f3f3f;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35);
}

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../images/ui-icons_444444_256x240.png");
}

.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_444444_256x240.png");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background-image: url("../images/ui-icons_555555_256x240.png");
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url("../images/ui-icons_ffffff_256x240.png");
}

.ui-state-highlight .ui-icon, .ui-button .ui-state-highlight.ui-icon {
    background-image: url("../images/ui-icons_777620_256x240.png");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("../images/ui-icons_cc0000_256x240.png");
}

.ui-button .ui-icon {
    background-image: url("../images/ui-icons_777777_256x240.png");
}

.ui-icon-blank {
    background-position: 16px 16px;
}

.ui-icon-caret-1-n {
    background-position: 0 0;
}

.ui-icon-caret-1-ne {
    background-position: -16px 0;
}

.ui-icon-caret-1-e {
    background-position: -32px 0;
}

.ui-icon-caret-1-se {
    background-position: -48px 0;
}

.ui-icon-caret-1-s {
    background-position: -65px 0;
}

.ui-icon-caret-1-sw {
    background-position: -80px 0;
}

.ui-icon-caret-1-w {
    background-position: -96px 0;
}

.ui-icon-caret-1-nw {
    background-position: -112px 0;
}

.ui-icon-caret-2-n-s {
    background-position: -128px 0;
}

.ui-icon-caret-2-e-w {
    background-position: -144px 0;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px;
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
    background-position: -65px -32px;
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
    background-position: 1px -48px;
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.ui-icon-extlink {
    background-position: -32px -80px;
}

.ui-icon-newwin {
    background-position: -48px -80px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon-shuffle {
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.ui-icon-folder-open {
    background-position: -16px -96px;
}

.ui-icon-document {
    background-position: -32px -96px;
}

.ui-icon-document-b {
    background-position: -48px -96px;
}

.ui-icon-note {
    background-position: -64px -96px;
}

.ui-icon-mail-closed {
    background-position: -80px -96px;
}

.ui-icon-mail-open {
    background-position: -96px -96px;
}

.ui-icon-suitcase {
    background-position: -112px -96px;
}

.ui-icon-comment {
    background-position: -128px -96px;
}

.ui-icon-person {
    background-position: -144px -96px;
}

.ui-icon-print {
    background-position: -160px -96px;
}

.ui-icon-trash {
    background-position: -176px -96px;
}

.ui-icon-locked {
    background-position: -192px -96px;
}

.ui-icon-unlocked {
    background-position: -208px -96px;
}

.ui-icon-bookmark {
    background-position: -224px -96px;
}

.ui-icon-tag {
    background-position: -240px -96px;
}

.ui-icon-home {
    background-position: 0 -112px;
}

.ui-icon-flag {
    background-position: -16px -112px;
}

.ui-icon-calendar {
    background-position: -32px -112px;
}

.ui-icon-cart {
    background-position: -48px -112px;
}

.ui-icon-pencil {
    background-position: -64px -112px;
}

.ui-icon-clock {
    background-position: -80px -112px;
}

.ui-icon-disk {
    background-position: -96px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.ui-icon-zoomin {
    background-position: -128px -112px;
}

.ui-icon-zoomout {
    background-position: -144px -112px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-wrench {
    background-position: -176px -112px;
}

.ui-icon-gear {
    background-position: -192px -112px;
}

.ui-icon-heart {
    background-position: -208px -112px;
}

.ui-icon-star {
    background-position: -224px -112px;
}

.ui-icon-link {
    background-position: -240px -112px;
}

.ui-icon-cancel {
    background-position: 0 -128px;
}

.ui-icon-plus {
    background-position: -16px -128px;
}

.ui-icon-plusthick {
    background-position: -32px -128px;
}

.ui-icon-minus {
    background-position: -48px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -128px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon-key {
    background-position: -112px -128px;
}

.ui-icon-lightbulb {
    background-position: -128px -128px;
}

.ui-icon-scissors {
    background-position: -144px -128px;
}

.ui-icon-clipboard {
    background-position: -160px -128px;
}

.ui-icon-copy {
    background-position: -176px -128px;
}

.ui-icon-contact {
    background-position: -192px -128px;
}

.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon-video {
    background-position: -224px -128px;
}

.ui-icon-script {
    background-position: -240px -128px;
}

.ui-icon-alert {
    background-position: 0 -144px;
}

.ui-icon-info {
    background-position: -16px -144px;
}

.ui-icon-notice {
    background-position: -32px -144px;
}

.ui-icon-help {
    background-position: -48px -144px;
}

.ui-icon-check {
    background-position: -64px -144px;
}

.ui-icon-bullet {
    background-position: -80px -144px;
}

.ui-icon-radio-on {
    background-position: -96px -144px;
}

.ui-icon-radio-off {
    background-position: -112px -144px;
}

.ui-icon-pin-w {
    background-position: -128px -144px;
}

.ui-icon-pin-s {
    background-position: -144px -144px;
}

.ui-icon-play {
    background-position: 0 -160px;
}

.ui-icon-pause {
    background-position: -16px -160px;
}

.ui-icon-seek-next {
    background-position: -32px -160px;
}

.ui-icon-seek-prev {
    background-position: -48px -160px;
}

.ui-icon-seek-end {
    background-position: -64px -160px;
}

.ui-icon-seek-start {
    background-position: -80px -160px;
}

.ui-icon-seek-first {
    background-position: -80px -160px;
}

.ui-icon-stop {
    background-position: -96px -160px;
}

.ui-icon-eject {
    background-position: -112px -160px;
}

.ui-icon-volume-off {
    background-position: -128px -160px;
}

.ui-icon-volume-on {
    background-position: -144px -160px;
}

.ui-icon-power {
    background-position: 0 -176px;
}

.ui-icon-signal-diag {
    background-position: -16px -176px;
}

.ui-icon-signal {
    background-position: -32px -176px;
}

.ui-icon-battery-0 {
    background-position: -48px -176px;
}

.ui-icon-battery-1 {
    background-position: -64px -176px;
}

.ui-icon-battery-2 {
    background-position: -80px -176px;
}

.ui-icon-battery-3 {
    background-position: -96px -176px;
}

.ui-icon-circle-plus {
    background-position: 0 -192px;
}

.ui-icon-circle-minus {
    background-position: -16px -192px;
}

.ui-icon-circle-close {
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.ui-icon-circle-check {
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

/*
     FILE ARCHIVED ON 03:37:11 Feb 25, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:15:02 May 31, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 527.112
  exclusion.robots: 0.209
  exclusion.robots.policy: 0.201
  cdx.remote: 0.062
  esindex: 0.009
  LoadShardBlock: 144.283 (3)
  PetaboxLoader3.datanode: 130.902 (5)
  CDXLines.iter: 14.89 (3)
  load_resource: 179.065 (2)
  PetaboxLoader3.resolve: 79.555 (2)
*/
